.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.rowContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.halfpage {
  margin-top: 100px;
  width: 50%;
}

.textForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textField {
  width: 540px;
  height: 200px;
}

.buttonRow {
  width: 540px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.btn {
  height: 25px;
  margin: 20px;
}

.noteTable {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.note {
  width: 70%;
  height: 200px;
  border-radius: 25px;
  background-color: rgb(207, 189, 189);
  margin: 6px;
  display: flex;
  flex-direction: column;
}

.noteText {
  margin: 20px;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.noteTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titleBar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.oneThird {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.twoThird {
  width: 64%;
  margin: 20px;
}

.noteSignature {
  justify-self: end;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
